.login-rich-content {
  display: flex;
  height: 100%;
}
.login-rich-content vaadin-login-form {
  align-items: center;
  display: flex;
  max-width: 50vw;
  min-width: 50vw;
}
.login-rich-content vaadin-login-form-wrapper {
  background-image: none;
  display: flex;
  align-items: center;
  height: 100%;
  width: 50vw;
  max-width: 50vw;
}
.right-image {
  background-image: url('https://as2.ftcdn.net/v2/jpg/05/95/65/99/1000_F_595659976_GfufI7y6P51IwukhTf21FPraAPsL7PFz.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
  width: 50vw;
}
